$primary: #0000FF;
$secondary: #6c757d;
$success: #227b5e;
$danger: #FF00FF;
$warning: #c6af1e;
$info: #c61eb5;
$light: #f8f9fa;
$dark: #000000;

$colors: (primary: $primary,
    secondary: $secondary,
    success: $success,
    danger: $danger,
    warning: $warning,
    info: $info,
    light: $light,
    dark: $dark);